#lta_external_site_links img {
  margin-right: 4px;
  vertical-align: middle;
}

img.ext_links_config {
  opacity: .8
}

img.ext_links_config:hover {
  opacity: 1.0
}

#lta_external_site_links a {
  white-space: pre-line;
}

#lta_external_site_links h4 {
  margin-top: 0.5rem;
}

#lta_external_site_links .links {
  line-height: 1.5rem;
}

#lta_external_site_links .links .link-wrapper {
  display: inline-block;
}

#lta_external_site_links .links .link-wrapper .ghost {
  margin: 0 0.1rem;
}

#lta_external_site_links .links .link-wrapper:last-child .ghost {
  display: none !important;
}

#lta_external_site_links .lookup-status > img {
  margin-right: 0;
}

.cogs_wrapper {
  position: relative;
}

#lta_configure_tooltip {
  color: #333;
  z-index: 100;
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  padding: 8px 10px;
  display: block;
  position: absolute;
  left: 27px;
  top: -2px;
  background-color: rgba(193, 193, 193, 0.97);
  border-radius: 4px;
  white-space: nowrap;
  line-height: 1.5rem;
}

#lta_configure_tooltip.hidden {
  display: none;
}

#lta_configure_tooltip td {
  vertical-align: top;
}

#lta_configure_tooltip h4 {
  margin: 0;
}

#lta_configure_tooltip .controls {
  margin-top: 10px;
}

#lta_configure_tooltip .linkemallhomepage {
  float: right;
}

#lta_configure_tooltip img {
  vertical-align: text-bottom;
}

#lta_configure_tooltip img.site-indicator {
  width: 12px;
  height: 12px;
  vertical-align: baseline;
}

#lta_configure_tooltip:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid rgba(193, 193, 193, 0.97);
  left: -8px;
  top: 7px;
}
