.linkList
  line-height: 1.5rem

  .linkWrapper
    display: inline-block
    margin-right: 4px

    a
      white-space: pre-line

      > img
        height: 16px
        width: 16px
        margin-right: 4px
        vertical-align: text-bottom
