.about
  padding: 1em 0
  position: relative

  ul > li
    margin-bottom: 0

  h2
    font-size: 20px
    margin: 0.5em 0

  > *:last-child
    margin-bottom: 0

  .top
    text-align: center

  .content
    width: 61.8%
    margin: 0 auto
