.linkWrapper
  display: inline-block
  margin-right: 4px

  img
    vertical-align: baseline

  a
    white-space: pre-line

    > img
      height: 16px
      width: 16px
      margin-right: 4px

  .resultsIcon
    margin-left: 4px
